<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<link rel="stylesheet" href="/exo0.css" type="text/css">
<center>
<body>
    
    <h1> Reponse à l'exercice 0   </h1> 
    <h2> La question fut : Who is the character of id 5 in the Rick and Morty API? Explain how you found the answer. </h2> 
    <h3> 1. Aller sur Insomnia </h3> 
    <h4>2. La commande est simple : GET https://rickandmortyapi.com/api/character/5   </a></h4> 
    <h5>La réponse (sous forme de Json) : Jerry Smith </h5> 


    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c50a4a55883023.5996f8afa3f5c.gif" /> <br>

    <a href="/"><span style="color:rgb(16, 11, 4)">Revenir à la page d'accueil </span>   </a> 

       
       

</body>
</center>
</html>