<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<script src="http://ddata.over-blog.com/xxxyyy/0/06/31/40/scripts/flocons/coeurs.js"></script></div>

<link rel="stylesheet" href="/fan.css" type="text/css">
<center>
<body>
    
    <h1> Ici la page dédié aux fans  </h1> 
    <h2> Le dernier match de l'OM fut une honte contre Lyon le 02/05/2022 </h2> 
    <h3> Nous avons perdu 3/ 0, voici la réactions de notre fan <a href="https://www.youtube.com/watch?v=73z14uurwO8&t=106s"> Cliquer  </a></h3> 
    

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7-_r7rymmF2bd3EiM4gg53G0uVmQPQcqz-A&usqp=CAU" /> <br>

    <a href="/"><span style="color:red">Revenir à la page d'accueil </span>   </a> 

    <marquee scrollamount="10"> <img alt="" src="https://www.icone-gif.com/gif/sports/ballon-foot/ballon-foot-08.gif" /></ marquee><marquee scrollamount="10">  </ marquee>
       
       

</body>
</center>
</html>